body {
    background-color: antiquewhite;
}

h1 {
    color:brown;
    font-family: helvetica;
    font-size: 300%;
    text-decoration: underline;
}
#video1 {
    margin-left:auto;
    margin-right:auto;
    height: 350px;
 }
